@font-face {
font-family: GothamBold;
src: url("../resources/Gotham/GothamHTF-Bold.otf") format("opentype");
}
@font-face {
font-family: Gotham;
src: url("../resources/Gotham/GothamHTF-Black.otf") format("opentype");
}
@font-face {
font-family: GothamThin;
src: url("../resources/Gotham/GothamHTF-Thin.otf") format("opentype");
}
@font-face {
font-family: GothamLight;
src: url("../resources/Gotham/GothamHTF-Light.otf") format("opentype");
}


html, body {
  font-family: 'GothamLight', sans-serif;
	height: 100%;
	min-height: 100%;
	border:0px;
	margin:0px;
}

#header {
  text-align: center;
  line-height: 100px;

  height: 100px;
  background-color: silver;
}

#control_bar {
  text-align: center;
  line-height: 100px;

  height: 200px;
  background-color: #808080;
}

#gong_panel {
  position: relative;
  text-align: center;
  border-style:solid;
  border-color:red;
  border-width: 1px;
}

#coremelody_panel {
  position: relative;
  text-align: center;
  border-style:solid;
  border-color:blue;
  border-width: 1px;
}

#gong_g {

}

#gong_g_touch{
  position: absolute;
  height: 230px;
  width: 230px;
  margin: -320px 0px 0px 120px;
}

#gong_p {

}

#gong_p_touch{
  position: absolute;
  height: 168px;
  width: 168px;
  margin: -258px 0px 0px 69px;
}

#gong_t{

}

#gong_t_touch{
  position: absolute;
  height: 100px;
  width: 105px;
  margin: -200px 0px 0px 100px;
}

#kempli{

}

#kempli_touch{
  position: absolute;
  height: 80px;
  width: 100px;
  margin: -150px 0px 0px 00px;
}

#jegogan {

}

#jegogan_touch {

}

#calung {

}

#calung_touch {

}

#penyacah {

}

#penyacah_touch{

}

.instrument {
  display: inline-block;
}

.touchable {
  border-style:solid;
  border-color:green;
  border-width: 1px;
}