div {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

@font-face {
font-family: GothamBold;
src: url("../resources/Gotham/GothamHTF-Bold.otf") format("opentype");
}
@font-face {
font-family: Gotham;
src: url("../resources/Gotham/GothamHTF-Black.otf") format("opentype");
}
@font-face {
font-family: GothamThin;
src: url("../resources/Gotham/GothamHTF-Thin.otf") format("opentype");
}
@font-face {
font-family: GothamLight;
src: url("../resources/Gotham/GothamHTF-Light.otf") format("opentype");
}


html, body {
  font-family: 'GothamLight', sans-serif;
	height: 100%;
	min-height: 100%;
	border:0px;
	margin:0px;
}

#header {
  text-align: center;
  line-height: 100px;

  height: 100px;
  background-color: silver;
}

#control_bar {
  text-align: center;

  height: 200px;
  background-color: #808080;
}

#gong_panel {
  position: relative;
  text-align: center;
  border-style:solid;
  border-color:red;
  border-width: 1px;
}

#coremelody_panel {
  position: relative;
  text-align: center;
  border-style:solid;
  border-color:blue;
  border-width: 1px;
}

#footer {
  text-align: center;
  margin-top:25px;
}

.form_bar {
  text-align: center;
  padding-top: 10px;
}

#beat_number {
  font-size: 20px;
  padding-top: 10px;
}


#gong_g {

}

#gong_g_touch{
  position: absolute;
  height: 230px;
  width: 230px;
  margin: -320px 0px 0px 120px;
}

#gong_p {

}

#gong_p_touch{
  position: absolute;
  height: 168px;
  width: 168px;
  margin: -258px 0px 0px 69px;
}

#gong_t{

}

#gong_t_touch{
  position: absolute;
  height: 100px;
  width: 105px;
  margin: -200px 0px 0px 100px;
}

#kempli{

}

#kempli_touch{
  position: absolute;
  height: 80px;
  width: 100px;
  margin: -150px 0px 0px 0px;
}

#jegogan {

}

#j1 {
  position: absolute;
  height: 178px;
  width: 52px;
  margin: -255px 0px 0px 123px;
}

#j2 {
  position: absolute;
  height: 178px;
  width: 52px;
  margin: -255px 0px 0px 175px;
}

#j3 {
  position: absolute;
  height: 170px;
  width: 52px;
  margin: -252px 0px 0px 227px;
}

#j5 {
  position: absolute;
  height: 165px;
  width: 50px;
  margin: -250px 0px 0px 279px;
}

#j6 {
  position: absolute;
  height: 165px;
  width: 50px;
  margin: -250px 0px 0px 329px;
}

#calung {

}

#c1 {
  position: absolute;
  height: 140px;
  width: 40px;
  margin: -203px 0px 0px 100px;
}

#c2 {
  position: absolute;
  height: 140px;
  width: 42px;
  margin: -203px 0px 0px 140px;
}

#c3 {
  position: absolute;
  height: 140px;
  width: 42px;
  margin: -203px 0px 0px 182px;
}

#c5 {
  position: absolute;
  height: 140px;
  width: 38px;
  margin: -203px 0px 0px 224px;
}

#c6 {
  position: absolute;
  height: 135px;
  width: 38px;
  margin: -203px 0px 0px 262px;
}

#penyacah {

}

#p5_low {
  position: absolute;
  height: 105px;
  width: 32px;
  margin: -152px 0px 0px 42px;
}

#p6_low {
  position: absolute;
  height: 105px;
  width: 33px;
  margin: -152px 0px 0px 74px; 
}

#p1 {
  position: absolute;
  height: 105px;
  width: 31px;
  margin: -152px 0px 0px 107px; 
}

#p2 {
  position: absolute;
  height: 100px;
  width: 31px;
  margin: -149px 0px 0px 138px; 
}

#p3 {
  position: absolute;
  height: 100px;
  width: 28px;
  margin: -149px 0px 0px 169px; 
}

#p5 {
  position: absolute;
  height: 100px;
  width: 28px;
  margin: -149px 0px 0px 197px; 
}

#p6 {
  position: absolute;
  height: 95px;
  width: 30px;
  margin: -149px 0px 0px 225px; 
}








.instrument {
  display: inline-block;
  opacity: 0.5;
}

.instrument:hover {
  opacity: 1.0;
}

.selected {
  opacity: 1.0;
}

.touchable {

}

.text_label {
  font-size: 20px;
  color: black;
}